.menu {
    display: flex;
    background-color: #fff;
    width: 100vw;
    height: 6vh;
    color: black;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: black;
}

.menuText {
    font-size: 25px;
    margin-left: 20px;
}

#WFL.menuText {
    position: absolute;
    bottom: auto;
    top: -3px;
    left: 15px;
}

#Browse.menuText {
    font-size: 20px;
    position: absolute;
    bottom: auto;
    top: 5px;
    left: 150px;
}

#pAP.menuText {
    font-size: 20px;
    position: absolute;
    bottom: auto;
    top: 5px;
    left: 240px;
}

#noti.menucpn {
    width: 32px;
    height: 32px;
    background-color: white;
    background-image: url(https://cdn-icons-png.flaticon.com/512/3119/3119338.png);
    background-size: 100%;
    position: absolute;
    top: 9px;
    left: 1100px;
}

.menucpn {
    margin-left: 120px;
}

#folder.menucpn {
    width: 32px;
    height: 32px;
    background-color: white;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1383/1383970.png);
    background-size: 100%;
    position: absolute;
    top: 9px;
    left: 1150px;
}

#profile.menucpn {
    width: 36px;
    height: 36px;
    background-color: white;
    background-image: url(https://cdn-icons-png.freepik.com/512/6596/6596121.png);
    background-size: 100%;
    position: absolute;
    top: 9px;
    left: 1200px;
}

#profile_name.menucpn {
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 1240px;
}
#profile.tab {
    font-size: 20px;
    position: absolute;
    left: 80px;
    top: 120px;
}
#password.tab {
    font-size: 20px;
    position: absolute;
    left: 80px;
    top: 170px;
}
#tab_select {
    position: absolute;
    left: 60px;
    top: 169px;
}
#password.contents {
    width: 70vw;
    height: 70vh;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 50px;
}
#textpassword.contents {
    font-size: 28px;
    padding-left: 33px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
#changepw.contents {
    margin-top: 30px;
    margin-left: 40px;
}
#currentpw.contents {
    position: relative;
    left: 43px;
    top: 10px;
}
#text_crpw.contents {
    height: 36px;
    margin-left: 4%;
    position: relative;
    top: 10px;
}
#newpw.contents {
    position: relative;
    left: 43px;
    top: 10px;
}
#text_npw.contents {
    height: 36px;
    margin-left: 4%;
    position: relative;
    top: 10px;
}
#confirmpw.contents {
    position: relative;
    left: 43px;
    top: 10px;
}
#text_cpw.contents {
    height: 36px;
    margin-left: 4%;
    position: relative;
    top: 10px;
}
#save.contents {
    width: 15%;
    height: 8%;
    background-color: black;
    color: white;
    font-family: 'Inria Sans';
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    top: 8%;
    left: 42%;
}